@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body {
  background-color: #E8FFF7;
  font-family: 'Raleway', sans-serif;
  color: rgb(150,150,150);
  font-size: 15px;
  line-height: 20px;
}
h1,h2,h3 {
  color: black;
  font size: 25px;
  line-height: 20px;
}
a {
  text-decoration: none;
  color: black;
  font-family: 'Raleway', sans-serif;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.container {
  width: 500px;
  margin: 0 auto;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
    margin: 0 auto;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
    margin: 0 auto;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
    margin: 0 auto;
  }
}

.card {
 padding: 20px;
 background: white;
 text-align: center;
 margin: 10px;
 border-radius: 20px;
 box-shadow: 2px 2px 10px;
}

.image {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
